<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>

<body>
  <% if (user) { %>
  <p>Logged in</p>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>

  <form method="POST">
    <input type="text" name="folderName">
    <button>Create Folder</button>
  </form>
  <form action="/files/upload" method="POST" enctype="multipart/form-data">
    <label>
      File
      <input type="file" name="file">
    </label>

    <button type="submit">Upload</button>
  </form>

  <% files.forEach(file => {%>
  <div style="border: 1px solid black;">
    <h2><%= file.id %> <%= file.name %></h2>
    Created at: <%= file.createdAt %>
  </div>
  <%});%>

  <%} else {%>
  <p>Not logged in</p>
  <a href="/login">Login</a>
  <a href="/signup">Register</a>
  <%}%>
  
</body>
</html>